.sidebar-list .sidebar-link:hover i {
    color: #4831D4;
    transition: all .7s ease 0s;
}
.sidebar-list .sidebar-link:hover span {
    color: #4831D4;
    transition: all .7s ease 2s;
}
/* sub navbar */
.navbar {
    background-color: #fff;
    box-shadow: 1px 1px 4px rgb(179, 179, 179);
    z-index: 10;
}
.navbar .nav-item .nav-link {
    font-size: 14px;
    background-color: rgb(240, 240, 240);
    transition: all .4s ease 0s;
}
@media (max-width: 992px) {
    .navbar .nav-item .nav-link {
        width: 200px !important;
        text-align: center;
        padding: 5px 5px;
    }
}
.navbar .nav-item .nav-link i {
    margin-right: 4px;
}
.navbar .nav-item .nav-link:hover {
    background-color: #fff;
    color: #7366ff;
}



.right-list-reports li {
    margin: 5px 0px !important;
}

.profit .value {
    color: #4831D4;
}
.profit .text-of-val {
    color: #4731d4e0 !important;
    font-size: 16px;
}

.profit .b-l-primary {
    border-left: 1px solid #4831D4 !important;
}

.sales .value {
    color: #ea2087;
}
.sales .text-of-val {
    color: #ea2087e0 !important;
    font-size: 16px;
}

.sales .b-l-primary {
    border-left: 1px solid #ea2087 !important;
}

.cash .value {
    color: #f73164;
}
.cash .text-of-val {
    color: #f73164e0 !important;
    font-size: 16px;
}

.cash .b-l-primary {
    border-left: 1px solid #f73164 !important;
}

.balance .value {
    color: #7366ff;
}
.balance .text-of-val {
    color: #7366ffe0 !important;
    font-size: 16px;
}

.balance .b-l-primary {
    border-left: 1px solid #7366ff !important;
}

.inventory button:hover {
    background-color: #fff !important;
    color: #ea2087;
    border: 1px solid #ea2087 !important;

}

.invoice button {
    background-color: #7366ff !important;
    color: #fff;
}

.invoice button:hover {
    background-color: #fff !important;
    color: #7366ff;
    border: 1px solid #7366ff !important;
}

.scroll-demo {
    height: auto !important;
}

.expense-by-category .card-header {
    padding: 20px;
}

.expense-by-category .card-header i {
    padding: 10px;
    margin: 0;
    font-size: 16px;
    width: auto !important;
}

.expense-by-category .card-header p {
    position: relative;
    margin: 0;
    bottom: -7px;
}

.best-customers .card-header {
    padding: 20px;
}

.best-customers .card-header i {
    padding: 10px;
    margin: 0;
    font-size: 16px;
    width: auto !important;
}

.best-customers .card-header p {
    position: relative;
    margin: 0;
    bottom: -7px;
}